
.section-main{
  padding: 100px 100px 50px 100px;
}
.section-main .card-featured{
  background-color: #2B2F38;
  border-radius: 30px;
  padding: 50px;
}
.section-main .card-featured h3{
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.section-main .card-featured .slider-featured-frame{
  position: relative;
}
.section-main .card-featured .slider-featured-frame .slider-featured{
  margin: 0 -12px 0 -17px;
}
.section-main .card-featured .slider-featured-frame button{
  width: 60px;
  height: 60px;
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}
.section-new h3{
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  color: #FFFFFF;
  margin-top: 100px;
  margin-bottom: 30px;
}

@media (max-width: 900px) {
  .section-main{
    padding: 100px 80px 50px 80px;
  }
}
@media (max-width: 768px) {
  .section-main{
    padding: 100px 65px 50px 65px;
  }
}
@media (max-width: 640px) {
  .section-main{
    padding: 30px;
  }
  .section-main .card-featured{
    padding: 30px;
  }
}