@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* utils */

body {
  background-color: #20232A;
}

.slider-featured-frame{
  position: relative;
}

.slider-featured-frame button{
  width: 60px;
  height: 60px;
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}

.slider-featured{
  margin: 0 -12px 0 -17px;
}
